header
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px
    padding: 10px 15px

    .logo
        height: 100%

    button
        cursor: pointer
        background: none
        border: none

        .refresh
            font-size: 45px
            font-weight: bold

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.load
  animation: spin 0.5s ease-in-out