header
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px
    padding: 5px 15px

    .logo
        height: 100%

    button
        cursor: pointer
        background: none
        border: none

        .refresh
            font-size: 45px
            font-weight: bold