@import ./src/assets/style/var

.container-modal
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    min-height: 50%
    max-height: 100%
    overflow: auto
    padding: 15px
    background: $accent-clr

    h2 
        display: flex
        justify-content: space-between
        align-items: center
        
        button.close
            cursor: pointer
            background: none
            border: none
            font-size: 24px
            color: #181818

    p
        padding: 5px 10px